<div class="progress media-progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ media.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{media.progress}}%">
        <span>{{ 'oktolab_media_progress_percent'|trans({'%progress%': media.progress})}}</span>
    </div>
</div>
